<p id="notice"><%= notice %></p>

<div class="container">
  <div class="wrapper">
      <div class="user_menu col-md-2">
        <h1>ユーザー情報</h1>
        <%= link_to "aaa", registration_path(@user.id) %>
      </div>
      <div class="topic_area col-md-6">
        <% @topics.each do |topic| %>
          <div class="topic_menu">
            <%= link_to topic_path(topic) do %>
              <h4><strong><%= topic.title %></strong></h4>
            <% end %>
            <p class="img-val"><%= profile_img(topic.user) %><%= topic.user.name %></p>
            <p class="topic-content">
              <% if topic.content.length > 99 && topic.read?%>
                <%= topic.content.truncate(100) %>
                <%= link_to "もっとみる", topics_path(ajax_handler: "content_more", id: topic.id), remote: true, id: "content_more" %>
              <% else %>
                <%= topic.content %>
              <% end %>
            </p>
            <p class="img">
              <%= photo_img(topic) %>
            </p>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
          </div>
        <% end %>
      </div>
      <div class="sign_up_menu col-md-3">
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <p class="sign-up-img-val left clearfix">
              <%= profile_img(user) %>
              <%= link_to registration_path(user.id) do %>
                <%= user.name %>
                <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'message-btn btn btn-default btn-sm btn btn-success'%>
              <% end %>
            </p>
            <div class="right follow-btn">
              <%= render partial: 'users/follow_form', locals: { user: user }   %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
